*, *::before, *::after {
	box-sizing: border-box;
}

body {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	/*-webkit-animation: colorchange 50s;
    animation: colorchange 50s;*/
}

* {
	-webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.container {
	margin: auto;
}

.container::after {
	content:"";
	display: block;
	padding-top: 100%;
	/*background: -webkit-radial-gradient(gray, black); 
  	background: -o-radial-gradient(red, green, blue); 
  	background: -moz-radial-gradient(red, green, blue);
  	background: radial-gradient(gray);*/
}

.green {
    background-color: rgba(0,255,0,1);
}
.red {
    background-color: rgba(255,0,0,1);
}
.blue {
    background-color: rgba(0,0,255,1);
}


/*@keyframes colorchange {
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

@-webkit-keyframes colorchange {
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}*/


#clock {
	color: white;
	display: block;
	font-size: 5em;
	font-family: Papyrus;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

